body, html {
    margin: 0;
    padding: 0;
}

.video-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.video-container video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}

.content {
    position: relative;
    z-index: 1;
    text-align: center;
    color: #ffffff;
    padding: 20px;
}

.title {
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
}

.content-text {
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0.65);
    width: 600px;
    height: 400px;
	margin: auto;
    margin-bottom: 20px;
    padding: 20px;
}